<div class="jumbotron">
  <p class="lead">
    <img src="images/highlight-reel.png" alt="HighlightReel"><br>
    Your go-to app for keeping your favorite sports highlights!
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#/goals"><span class="glyphicon glyphicon-film"></span><br>Add to the HighlightReel!</a></p>
</div>

<div class="row marketing" style="text-align:center">
  <h4>Catalog your favorite sports moments</h4>
  <p>
    Add details of your favorite highlights.
  </p>

  <h4>Add video</h4>
  <p>
    Add a link to the video on YouTube.
  </p>

  <h4>Binge on!</h4>
  <p>
    Spend hours reliving your favorite sports moments!
  </p>
</div>
