  <div class="formbg">
    <h2 style="color:#f05f40; text-align:center; font-weight: bold">Sign Up</h2>

    <form method="post" action="#/signup">
      <div class="form-group">
        <label for="name"; style="color:#f05f40">Name</label>
        <input class="form-control" type="text" name="name" id="name">
      </div>

      <div class="form-group">
        <label for="email"; style="color:#f05f40">Email</label>
        <input class="form-control" type="text" name="email" id="email">
      </div>

      <div class="form-group">
        <label for="email"; style="color:#f05f40">Password</label>
        <input class="form-control" type="password" name="password" id="password">
      </div>

      <input class="btn btn-primary" type="submit">
    </form>
  </div>

